<a href="https://colab.research.google.com/github/HarryRichards2005/Student-csv-Python-Project/blob/main/Workbook_day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
from google.colab import files
data = files.upload()

Saving student.csv to student.csv

In [ ]:
data = pd.read_csv('student.csv')
data

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78     NaN
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [ ]:
data.head(5)

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [ ]:
data.describe()

              id       mark
count  35.000000  35.000000
mean   18.000000  74.657143
std    10.246951  16.401117
min     1.000000  18.000000
25%     9.500000  62.500000
50%    18.000000  79.000000
75%    26.500000  88.000000
max    35.000000  96.000000

In [ ]:
data['name']

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [ ]:
data[['name', 'mark']]

           name  mark
0      John Deo    75
1      Max Ruin    85
2        Arnold    55
3    Krish Star    60
4     John Mike    60
5     Alex John    55
6   My John Rob    78
7        Asruid    85
8       Tes Qry    78
9      Big John    55
10       Ronald    89
11        Recky    94
12          Kty    88
13         Bigy    88
14     Tade Row    88
15        Gimmy    88
16        Tumyu    54
17        Honny    75
18        Tinny    18
19       Jackly    65
20   Babby John    69
21       Reggid    55
22        Herod    79
23    Tiddy Now    78
24     Giff Tow    88
25       Crelea    79
26          NaN    81
27    Rojj Base    86
28  Tess Played    55
29    Reppy Red    79
30  Marry Toeey    88
31    Binn Rott    90
32    Kenn Rein    96
33     Gain Toe    69
34   Rows Noump    88

In [ ]:
data.iloc[0:3,1:4]

       name  class  score
0  John Deo   Four     75
1  Max Ruin  Three     85
2    Arnold  Three     55

In [ ]:
data[data['class'] == 'Four']

    id         name class  mark  gender
0    1     John Deo  Four    75  female
3    4   Krish Star  Four    60  female
4    5    John Mike  Four    60  female
5    6    Alex John  Four    55    male
9   10     Big John  Four    55  female
15  16        Gimmy  Four    88    male
20  21   Babby John  Four    69  female
30  31  Marry Toeey  Four    88    male

In [ ]:
data['passed'] = data['mark'] >=60

In [ ]:
data

    id         name  class  mark  gender  passed
0    1     John Deo   Four    75  female    True
1    2     Max Ruin  Three    85    male    True
2    3       Arnold  Three    55    male   False
3    4   Krish Star   Four    60  female    True
4    5    John Mike   Four    60  female    True
5    6    Alex John   Four    55    male   False
6    7  My John Rob  Fifth    78    male    True
7    8       Asruid   Five    85    male    True
8    9      Tes Qry    Six    78     NaN    True
9   10     Big John   Four    55  female   False
10  11       Ronald    Six    89  female    True
11  12        Recky    Six    94  female    True
12  13          Kty  Seven    88  female    True
13  14         Bigy  Seven    88  female    True
14  15     Tade Row    NaN    88    male    True
15  16        Gimmy   Four    88    male    True
16  17        Tumyu    Six    54    male   False
17  18        Honny   Five    75    male    True
18  19        Tinny   Nine    18    male   False
19  20       Jackly   Nine    65  female    True
20  21   Babby John   Four    69  female    True
21  22       Reggid  Seven    55  female   False
22  23        Herod  Eight    79    male    True
23  24    Tiddy Now  Seven    78    male    True
24  25     Giff Tow  Seven    88    male    True
25  26       Crelea  Seven    79    male    True
26  27          NaN  Three    81     NaN    True
27  28    Rojj Base  Seven    86  female    True
28  29  Tess Played  Seven    55    male   False
29  30    Reppy Red    Six    79  female    True
30  31  Marry Toeey   Four    88    male    True
31  32    Binn Rott  Seven    90  female    True
32  33    Kenn Rein    Six    96  female    True
33  34     Gain Toe  Seven    69    male    True
34  35   Rows Noump    Six    88  female    True

In [ ]:
data.rename(columns={'mark': 'score'}, inplace = True)
data

    id         name  class  score  gender  passed
0    1     John Deo   Four     75  female    True
1    2     Max Ruin  Three     85    male    True
2    3       Arnold  Three     55    male   False
3    4   Krish Star   Four     60  female    True
4    5    John Mike   Four     60  female    True
5    6    Alex John   Four     55    male   False
6    7  My John Rob  Fifth     78    male    True
7    8       Asruid   Five     85    male    True
8    9      Tes Qry    Six     78     NaN    True
9   10     Big John   Four     55  female   False
10  11       Ronald    Six     89  female    True
11  12        Recky    Six     94  female    True
12  13          Kty  Seven     88  female    True
13  14         Bigy  Seven     88  female    True
14  15     Tade Row    NaN     88    male    True
15  16        Gimmy   Four     88    male    True
16  17        Tumyu    Six     54    male   False
17  18        Honny   Five     75    male    True
18  19        Tinny   Nine     18    male   False
19  20       Jackly   Nine     65  female    True
20  21   Babby John   Four     69  female    True
21  22       Reggid  Seven     55  female   False
22  23        Herod  Eight     79    male    True
23  24    Tiddy Now  Seven     78    male    True
24  25     Giff Tow  Seven     88    male    True
25  26       Crelea  Seven     79    male    True
26  27          NaN  Three     81     NaN    True
27  28    Rojj Base  Seven     86  female    True
28  29  Tess Played  Seven     55    male   False
29  30    Reppy Red    Six     79  female    True
30  31  Marry Toeey   Four     88    male    True
31  32    Binn Rott  Seven     90  female    True
32  33    Kenn Rein    Six     96  female    True
33  34     Gain Toe  Seven     69    male    True
34  35   Rows Noump    Six     88  female    True

In [ ]:
data = data.drop(columns=['passed'])
data

    id         name  class  score  gender
0    1     John Deo   Four     75  female
1    2     Max Ruin  Three     85    male
2    3       Arnold  Three     55    male
3    4   Krish Star   Four     60  female
4    5    John Mike   Four     60  female
5    6    Alex John   Four     55    male
6    7  My John Rob  Fifth     78    male
7    8       Asruid   Five     85    male
8    9      Tes Qry    Six     78     NaN
9   10     Big John   Four     55  female
10  11       Ronald    Six     89  female
11  12        Recky    Six     94  female
12  13          Kty  Seven     88  female
13  14         Bigy  Seven     88  female
14  15     Tade Row    NaN     88    male
15  16        Gimmy   Four     88    male
16  17        Tumyu    Six     54    male
17  18        Honny   Five     75    male
18  19        Tinny   Nine     18    male
19  20       Jackly   Nine     65  female
20  21   Babby John   Four     69  female
21  22       Reggid  Seven     55  female
22  23        Herod  Eight     79    male
23  24    Tiddy Now  Seven     78    male
24  25     Giff Tow  Seven     88    male
25  26       Crelea  Seven     79    male
26  27          NaN  Three     81     NaN
27  28    Rojj Base  Seven     86  female
28  29  Tess Played  Seven     55    male
29  30    Reppy Red    Six     79  female
30  31  Marry Toeey   Four     88    male
31  32    Binn Rott  Seven     90  female
32  33    Kenn Rein    Six     96  female
33  34     Gain Toe  Seven     69    male
34  35   Rows Noump    Six     88  female

In [ ]:
data[['class', 'mark']]

    class  mark
0    Four    75
1   Three    85
2   Three    55
3    Four    60
4    Four    60
5    Four    55
6   Fifth    78
7    Five    85
8     Six    78
9    Four    55
10    Six    89
11    Six    94
12  Seven    88
13  Seven    88
14    NaN    88
15   Four    88
16    Six    54
17   Five    75
18   Nine    18
19   Nine    65
20   Four    69
21  Seven    55
22  Eight    79
23  Seven    78
24  Seven    88
25  Seven    79
26  Three    81
27  Seven    86
28  Seven    55
29    Six    79
30   Four    88
31  Seven    90
32    Six    96
33  Seven    69
34    Six    88

In [ ]:
data.groupby('class')['mark'].mean()

class
Eight    79.000000
Fifth    78.000000
Five     80.000000
Four     68.750000
Nine     41.500000
Seven    77.600000
Six      82.571429
Three    73.666667
Name: mark, dtype: float64

In [ ]:
data['class'].value_counts()

class
Seven    10
Four      8
Six       7
Three     3
Nine      2
Five      2
Fifth     1
Eight     1
Name: count, dtype: int64

In [ ]:
data.groupby('gender')['mark'].mean()

gender
female    77.312500
male      71.588235
Name: mark, dtype: float64

In [ ]:
pivot = pd.pivot_table(
    data,
    values='mark',
    index='class',
    columns='gender'
  )

pivot

gender  female  male
class
Eight      NaN  79.0
Fifth      NaN  78.0
Five       NaN  80.0
Four      63.8  77.0
Nine      65.0  18.0
Seven     81.4  73.8
Six       89.2  54.0
Three      NaN  70.0

In [ ]:
data['grade'] = pd.cut(
    data['mark'],
    bins=[0, 60, 70, 85, 100],
    labels=['D', 'C', 'B', 'A'],
    right=False
)
data

    id         name  class  mark  gender grade
0    1     John Deo   Four    75  female     B
1    2     Max Ruin  Three    85    male     A
2    3       Arnold  Three    55    male     D
3    4   Krish Star   Four    60  female     C
4    5    John Mike   Four    60  female     C
5    6    Alex John   Four    55    male     D
6    7  My John Rob  Fifth    78    male     B
7    8       Asruid   Five    85    male     A
8    9      Tes Qry    Six    78     NaN     B
9   10     Big John   Four    55  female     D
10  11       Ronald    Six    89  female     A
11  12        Recky    Six    94  female     A
12  13          Kty  Seven    88  female     A
13  14         Bigy  Seven    88  female     A
14  15     Tade Row    NaN    88    male     A
15  16        Gimmy   Four    88    male     A
16  17        Tumyu    Six    54    male     D
17  18        Honny   Five    75    male     B
18  19        Tinny   Nine    18    male     D
19  20       Jackly   Nine    65  female     C
20  21   Babby John   Four    69  female     C
21  22       Reggid  Seven    55  female     D
22  23        Herod  Eight    79    male     B
23  24    Tiddy Now  Seven    78    male     B
24  25     Giff Tow  Seven    88    male     A
25  26       Crelea  Seven    79    male     B
26  27          NaN  Three    81     NaN     B
27  28    Rojj Base  Seven    86  female     A
28  29  Tess Played  Seven    55    male     D
29  30    Reppy Red    Six    79  female     B
30  31  Marry Toeey   Four    88    male     A
31  32    Binn Rott  Seven    90  female     A
32  33    Kenn Rein    Six    96  female     A
33  34     Gain Toe  Seven    69    male     C
34  35   Rows Noump    Six    88  female     A

In [ ]:
data.sort_values(by='mark', ascending=False)

    id         name  class  mark  gender grade
32  33    Kenn Rein    Six    96  female     A
11  12        Recky    Six    94  female     A
31  32    Binn Rott  Seven    90  female     A
10  11       Ronald    Six    89  female     A
30  31  Marry Toeey   Four    88    male     A
34  35   Rows Noump    Six    88  female     A
24  25     Giff Tow  Seven    88    male     A
14  15     Tade Row    NaN    88    male     A
15  16        Gimmy   Four    88    male     A
12  13          Kty  Seven    88  female     A
13  14         Bigy  Seven    88  female     A
27  28    Rojj Base  Seven    86  female     A
7    8       Asruid   Five    85    male     A
1    2     Max Ruin  Three    85    male     A
26  27          NaN  Three    81     NaN     B
29  30    Reppy Red    Six    79  female     B
25  26       Crelea  Seven    79    male     B
22  23        Herod  Eight    79    male     B
6    7  My John Rob  Fifth    78    male     B
23  24    Tiddy Now  Seven    78    male     B
8    9      Tes Qry    Six    78     NaN     B
17  18        Honny   Five    75    male     B
0    1     John Deo   Four    75  female     B
33  34     Gain Toe  Seven    69    male     C
20  21   Babby John   Four    69  female     C
19  20       Jackly   Nine    65  female     C
3    4   Krish Star   Four    60  female     C
4    5    John Mike   Four    60  female     C
2    3       Arnold  Three    55    male     D
5    6    Alex John   Four    55    male     D
9   10     Big John   Four    55  female     D
21  22       Reggid  Seven    55  female     D
28  29  Tess Played  Seven    55    male     D
16  17        Tumyu    Six    54    male     D
18  19        Tinny   Nine    18    male     D

In [ ]:
data.to_csv("output_with_grades.csv", index=False)
data

    id         name  class  mark  gender grade
0    1     John Deo   Four    75  female     B
1    2     Max Ruin  Three    85    male     A
2    3       Arnold  Three    55    male     D
3    4   Krish Star   Four    60  female     C
4    5    John Mike   Four    60  female     C
5    6    Alex John   Four    55    male     D
6    7  My John Rob  Fifth    78    male     B
7    8       Asruid   Five    85    male     A
8    9      Tes Qry    Six    78     NaN     B
9   10     Big John   Four    55  female     D
10  11       Ronald    Six    89  female     A
11  12        Recky    Six    94  female     A
12  13          Kty  Seven    88  female     A
13  14         Bigy  Seven    88  female     A
14  15     Tade Row    NaN    88    male     A
15  16        Gimmy   Four    88    male     A
16  17        Tumyu    Six    54    male     D
17  18        Honny   Five    75    male     B
18  19        Tinny   Nine    18    male     D
19  20       Jackly   Nine    65  female     C
20  21   Babby John   Four    69  female     C
21  22       Reggid  Seven    55  female     D
22  23        Herod  Eight    79    male     B
23  24    Tiddy Now  Seven    78    male     B
24  25     Giff Tow  Seven    88    male     A
25  26       Crelea  Seven    79    male     B
26  27          NaN  Three    81     NaN     B
27  28    Rojj Base  Seven    86  female     A
28  29  Tess Played  Seven    55    male     D
29  30    Reppy Red    Six    79  female     B
30  31  Marry Toeey   Four    88    male     A
31  32    Binn Rott  Seven    90  female     A
32  33    Kenn Rein    Six    96  female     A
33  34     Gain Toe  Seven    69    male     C
34  35   Rows Noump    Six    88  female     A